# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log
*.sqlite3
*.env
.env.*
.venv/
venv/
.Python

# VSCode & MacOS
.vscode/
.DS_Store

# FastAPI Uploads
tmp_uploads/

# Qdrant Vector Dumps (nếu có)
*.qdrant

# Jupyter Notebooks
.ipynb_checkpoints/
